name: Prebuild

on:
  workflow_dispatch:

jobs:
  sast:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      
    - name: Build with Gradle
      run: gradle build
    
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

  unittest:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
        
    - name: Build with Gradle
      run: gradle test
      
  # dispatch:
  #   runs-on: ubuntu-latest
  #   needs: [sast, unittest]